.create_main {
  background-color: rgba(128, 128, 128, 0.278);
  width: 100%;
  position: relative;
}
.create_div_container {
  background-color: white;
  min-height: 90dvh;
  padding: 100px;
  margin-top: 30px;
}
.add_product_main {
  padding: 20px;
}

.create_form .flex_div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.create_form .inputs_flex {
  display: flex;
  flex-direction: unset;
  gap: 50px;
}
.create_form div label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
.create_form div label h2 {
  font-weight: 500;
  font-size: 16px;
}
.create_form label input,
.create_form label select {
  display: block;
  width: 100%;
  height: 50px;
  outline: none;
  padding: 5px;
}
.create_form label.textarea_label {
  height: 100%;
}
.create_form label.textarea_label textarea {
  resize: none;
  height: 100%;
  padding: 5px;
  outline: none;
}
.create_form .add_button {
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-top: 50px;
}
.create_form .info_bottom_flex {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
.create_form .info_bottom_flex label {
  width: 100%;
}

.create_form .total_price {
  display: flex;
  justify-content: end;
  gap: 5px;
  margin-bottom: 10px;
}
.create_form .total_price .price {
  color: limegreen;
}

.create_form .total_price_ingredient {
  display: flex;
  justify-content: end;
  gap: 5px;
  margin-bottom: 10px;
}
.total_price_ingredient {
  color: limegreen;
}
